*.o
*.la
*.lo
*.guess
libtool
ltmain.sh
stamp-h1
missing
configure
depcomp
compile
config.h*
install-sh
aclocal.m4
config.log
config.status
config.sub
config/plugin.ac
config/pandora_vc_revinfo
config/top.h
Makefile
Makefile.in
autom4te.cache/
libgenthrift/.deps/
libcassandra/.deps/
libcassandra/.dirstamp
libcassandra/configure.h
libcassandra/.libs/
libgenthrift/.libs/
libgenthrift/.dirstamp
libgenthrift/configure.h
